<a href="https://colab.research.google.com/github/carollimaxp/data_science_alura/blob/main/DS_Bootcamp_M%C3%B3dulo_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 1

### Importando os dados

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
from zipfile import ZipFile

## Explorando os dados

### Lendo um ZIP

In [ ]:
path = "/content/drive/MyDrive/Data Scienc Bootcamp/PeNSE_2015_AMOSTRA2.zip"
zip = ZipFile(path)
zip

In [ ]:
zip.infolist()[0:4]

[<ZipInfo filename='arquivos csv/' external_attr=0x10>,
 <ZipInfo filename='arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV' compress_type=deflate external_attr=0x20 file_size=7262170 compress_size=1235667>,
 <ZipInfo filename='arquivos csv/PENSE_AMOSTRA2_ALUNOESCOLA.CSV' compress_type=deflate external_attr=0x20 file_size=11420533 compress_size=1329882>,
 <ZipInfo filename='arquivos csv/PENSE_AMOSTRA2_ESCOLA.CSV' compress_type=deflate external_attr=0x20 file_size=5000642 compress_size=114324>]

In [ ]:
zip.namelist()[0:4]

['arquivos csv/',
 'arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV',
 'arquivos csv/PENSE_AMOSTRA2_ALUNOESCOLA.CSV',
 'arquivos csv/PENSE_AMOSTRA2_ESCOLA.CSV']

In [ ]:
path_file = zip.namelist()[1]
dados = pd.read_csv(zip.open(path_file), sep=";")
dados.head()

   ANOPESQ  PAIS  REGEOGR  VB00004  VB01001  ...  V0008  V0041  aluno  escola  turma
0     2015    76        1        1        2  ...      4      1      1       1    296
1     2015    76        1        1        2  ...      4      1      2       1    296
2     2015    76        1        1        1  ...      4      1      3       1    296
3     2015    76        1        1        1  ...      4      1      4       1    296
4     2015    76        1        1        1  ...      4      1      5       1    296

[5 rows x 181 columns]

In [ ]:
dados.shape

(16556, 181)

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16556 entries, 0 to 16555
Columns: 181 entries, ANOPESQ to turma
dtypes: float64(7), int64(171), object(3)
memory usage: 22.9+ MB

In [ ]:
dados.select_dtypes(include="object")

      VB17003 VB17004        PESO
0        37,1     157  299,735235
1        50,2     152  355,170081
2        48,2   161,4  299,735235
3        69,4   172,5  355,170081
4        78,9   167,5  299,735235
...       ...     ...         ...
16551    56,7   167,9  447,815539
16552    61,9   185,8   592,50744
16553    60,9   159,4  401,131512
16554    47,3   157,8  442,718091
16555    62,6   163,9   592,50744

[16556 rows x 3 columns]

### Alterando a leitura dos dados (casa decimal e separador de milhares)

In [ ]:
dados = pd.read_csv(zip.open(path_file), sep=";", thousands=".", decimal=",")
dados

       ANOPESQ  PAIS  REGEOGR  VB00004  ...  V0041  aluno  escola  turma
0         2015    76        1        1  ...      1      1       1    296
1         2015    76        1        1  ...      1      2       1    296
2         2015    76        1        1  ...      1      3       1    296
3         2015    76        1        1  ...      1      4       1    296
4         2015    76        1        1  ...      1      5       1    296
...        ...   ...      ...      ...  ...    ...    ...     ...    ...
16551     2015    76        5        1  ...      1  16552     371    117
16552     2015    76        5        1  ...      1  16553     371    117
16553     2015    76        5        1  ...      1  16554     371    117
16554     2015    76        5        1  ...      1  16555     371    117
16555     2015    76        5        1  ...      1  16556     371    117

[16556 rows x 181 columns]

In [ ]:
dados.select_dtypes(include="int64").head()

   ANOPESQ  PAIS  REGEOGR  VB00004  VB01001  ...  V0008  V0041  aluno  escola  turma
0     2015    76        1        1        2  ...      4      1      1       1    296
1     2015    76        1        1        2  ...      4      1      2       1    296
2     2015    76        1        1        1  ...      4      1      3       1    296
3     2015    76        1        1        1  ...      4      1      4       1    296
4     2015    76        1        1        1  ...      4      1      5       1    296

[5 rows x 171 columns]

In [ ]:
dados.select_dtypes(include="float64").head()

   TEMPODESLOC  TEMPOTOTAL  TEMPOEDFIS  ...  VB17003  VB17004        PESO
0          0.0        15.0         0.0  ...     37.1    157.0  299.735235
1        120.0       510.0       260.0  ...     50.2    152.0  355.170081
2          0.0       585.0       130.0  ...     48.2    161.4  299.735235
3          0.0         0.0         0.0  ...     69.4    172.5  355.170081
4         30.0       165.0        90.0  ...     78.9    167.5  299.735235

[5 rows x 10 columns]

## Desafios

### Desafio 1: Descompatar a pasta zipada usando outro mÃ©todo
- Dica: Usar comandos Bash

In [ ]:
!ls
!pwd

drive  sample_data
/content

In [ ]:
path = "/content/drive/MyDrive/Data\ \Scienc\ \Bootcamp/PeNSE_2015_AMOSTRA2.zip"
path_to_directory = "/content/drive/MyDrive/Data\ \Scienc\ \Bootcamp/Dados"

In [ ]:
# !unzip -v

In [ ]:
#!unzip $path -d $path_to_directory

### Desafio 2 : Estudar sobre a base dados que vamos utilizar

In [ ]:
file = r'/content/drive/MyDrive/Data Scienc Bootcamp/Dados/Dicionario_PENSE_Microdados_AMOSTRA2.xls'
info_aluno = pd.read_excel(file, sheet_name='AMOSTRA2_ALUNO')
info_escola = pd.read_excel(file, sheet_name='AMOSTRA2_ESCOLA')
info_aluno.head()

  VARIÃVEL                QUESTIONÃRIO DO ALUNO
0  ANOPESQ  Ano em que a pesquisa foi realizada
1     PAIS                                 PaÃ­s
2       76                               Brasil
3  REGEOGR                    RegiÃ£o geogrÃ¡fica
4        1                                Norte

In [ ]:
info_escola.head()

  VARIÃVEL               QUESTIONÃRIO DA ESCOLA
0  ANOPESQ  Ano em que a pesquisa foi realizada
1     PAIS                                 PaÃ­s
2       76                               Brasil
3  REGEOGR                    RegiÃ£o geogrÃ¡fica
4        1                                Norte

### Desafio 3: Classificar algumas perguntas em

1.   Qualitativa (Ordinal e Nominal)
2.   Quantitativa (Continua e Discreta)

####**Qualitativa**

Nominal

- REGEOGR: RegiÃ£o geogrÃ¡fica
- VB01025: Qual o grau de escolaridade mais elevado que vocÃª pretendo concluir?
- VB01006: VocÃª mora com sua mÃ£e?
- VB01020A: Tem empregado(a) domÃ©stico(a) recebendo dinheiro para fazer o trabalho em sua casa, trÃªs ou mais dias por semana?

Ordinal

- VB01004: Qual Ã© o mÃªs do seu aniversÃ¡rio?
- VB02019A: VocÃª costuma tomar o cafÃ© da manhÃ£?
- VB02018A: VocÃª costuma comer quando estÃ¡ assistindo Ã  TV ou estudando?

#### **Quantitativa**

Continua

- VB17003: Peso do estudante, incluindo os imputados, com uma casa decimal 
- VB17004: Altura do estudante, incluindo os imputados, com uma casa decimal
- VB17002: Qual Ã© a altura do(a) aluno(a)?

Discreta

- VB02001: NOS ÃLTIMOS 7 DIAS, em quantos dias vocÃª comeu feijÃ£o?
- VB04002: Que idade vocÃª tinha quando experimentou fumar cigarro pela primeira vez?

# Aula 2

## Explorando os dados : Criando tabela e analisando os dados

In [ ]:
dados['VB01001'].value_counts()

1    8287
2    8269
Name: VB01001, dtype: int64

In [ ]:
dados['VB01001'].value_counts(normalize=True) * 100

1    50.054361
2    49.945639
Name: VB01001, dtype: float64

In [ ]:
frequencia = dados['VB11007'].value_counts()
frequencia

2     6920
1     4608
4     2326
3     1807
5      714
99     181
Name: VB11007, dtype: int64

In [ ]:
percentual = dados['VB11007'].value_counts(normalize=True) * 100
percentual

2     41.797536
1     27.832810
4     14.049287
3     10.914472
5      4.312636
99     1.093259
Name: VB11007, dtype: float64

In [ ]:
respostas = {
    1: "Muito Satisfeito",
    2: "Satisfeito",
    3: "Indiferente",
    4: "Insatisfeito",
    5: "Muito insatisfeito",
    99: "NÃ£o informado" }

dist_freq = pd.DataFrame({"FrequÃªncia": frequencia, "Percentual": percentual})
dist_freq.rename(index=respostas, inplace=True)
dist_freq.rename_axis("Sentimento em relaÃ§Ã£o ao seu corpo", axis = 1, inplace=True)
dist_freq

Sentimento em relaÃ§Ã£o ao seu corpo  FrequÃªncia  Percentual
Satisfeito                                6920   41.797536
Muito Satisfeito                          4608   27.832810
Insatisfeito                              2326   14.049287
Indiferente                               1807   10.914472
Muito insatisfeito                         714    4.312636
NÃ£o informado                              181    1.093259

## Desafio 1:  Criar uma funÃ§Ã£o para gerar as tabelas de frequÃªncia e fazer a anÃ¡lise de outras informaÃ§Ãµes. Compartilhar no discord suas anÃ¡lises

In [ ]:
def create_tab_freq (dado: pd.Series):

  frequencia = dado.value_counts()
  percentual = dado.value_counts(normalize = True) * 100
  tabela_frequencia = pd.DataFrame({"FrequÃªncia": frequencia, "Percentual": percentual})

  return tabela_frequencia

# Aula 3

## Explorando os dados: frequencias dos dados na Serie

In [ ]:
dados["VB17004"] #altura

0        157.0
1        152.0
2        161.4
3        172.5
4        167.5
         ...
16551    167.9
16552    185.8
16553    159.4
16554    157.8
16555    163.9
Name: VB17004, Length: 16556, dtype: float64

In [ ]:
dados["IMC"] = dados["VB17003"] / ((dados["VB17004"]/100) **2)
dados["IMC"]

0        15.051321
1        21.727839
2        18.502907
3        23.322831
4        28.122076
           ...
16551    20.113223
16552    17.930782
16553    23.968489
16554    18.995343
16555    23.303246
Name: IMC, Length: 16556, dtype: float64

In [ ]:
classes= [0, 18.5, 25, 30, 35, 40]
labels = ["Abaixo", "Normal", "Sobrepeso", "Obesidade (Grau I)", "Obesidade (Grau II)"]

dados["classe_IMC"] = pd.cut(x = dados["IMC"], 
       bins= classes,
       labels = labels, ## Renomeia os intervalos
       include_lowest = True)

dados[["IMC","classe_IMC"]].head()

         IMC classe_IMC
0  15.051321     Abaixo
1  21.727839     Normal
2  18.502907     Normal
3  23.322831     Normal
4  28.122076  Sobrepeso

In [ ]:
dist_freq = create_tab_freq(dados["classe_IMC"])
dist_freq

                     FrequÃªncia  Percentual
Normal                     9188   55.637641
Abaixo                     4975   30.125954
Sobrepeso                  1760   10.657624
Obesidade (Grau I)          488    2.955068
Obesidade (Grau II)         103    0.623713

## Criando classificaÃ§Ãµes para os dados

#### Numero de classe Ã© proporcional ao nÃºmero da amostra
- Regra de Sturges

In [ ]:
import numpy as np

tamanho_amostra = len(dados)
k = int(1 + ((10/3) * np.log10(tamanho_amostra))) # 10/3 ou 3.33 dizima periodica
k

15

### Exemplo frequencia dos dados de altura

In [ ]:
dados["VB17004"].min()

124.1

In [ ]:
dados["VB17004"].max()

195.3

In [ ]:
dados["classe_Altura"] = pd.cut(
       x = dados["VB17004"], 
       bins= k,
       include_lowest = True)

dist_freq = create_tab_freq(dados["classe_Altura"])
dist_freq

                               FrequÃªncia  Percentual
(157.327, 162.073]                   3110   18.784731
(152.58, 157.327]                    2734   16.513651
(162.073, 166.82]                    2550   15.402271
(166.82, 171.567]                    2063   12.460739
(147.833, 152.58]                    1782   10.763469
(171.567, 176.313]                   1416    8.552791
(143.087, 147.833]                   1012    6.112588
(176.313, 181.06]                     749    4.524040
(138.34, 143.087]                     484    2.923411
(181.06, 185.807]                     300    1.812032
(133.593, 138.34]                     199    1.201981
(185.807, 190.553]                     94    0.567770
(128.847, 133.593]                     47    0.283885
(190.553, 195.3]                       13    0.078521
(124.02799999999999, 128.847]           3    0.018120

## Desafio 1: Criar uma tabela de frequencia para peso

In [ ]:
dados["classe_Peso"] = pd.cut(
       x = dados["VB17003"], 
       bins= k,
       include_lowest = True)

#dist_freq = create_tab_freq(dados[["classe_Peso","classe_IMC"]])
dist_freq = create_tab_freq(dados["classe_Peso"])
dist_freq

                  FrequÃªncia  Percentual
(46.32, 57.7]           5754   34.754772
(34.94, 46.32]          3852   23.266489
(57.7, 69.08]           3724   22.493356
(69.08, 80.46]          1425    8.607151
(23.56, 34.94]           927    5.599179
(80.46, 91.84]           544    3.285818
(91.84, 103.22]          202    1.220101
(103.22, 114.6]           77    0.465088
(114.6, 125.98]           20    0.120802
(125.98, 137.36]          15    0.090602
(137.36, 148.74]           6    0.036241
(148.74, 160.12]           4    0.024160
(12.18, 23.56]             3    0.018120
(160.12, 171.5]            2    0.012080
(0.628, 12.18]             1    0.006040

## Frequencia cruzada

NormalizaÃ§Ã£o do total

In [ ]:
frequencia_cruzada = pd.crosstab(dados["VB11007"], dados["VB01001"], normalize=True) * 100
frequencia_cruzada.rename(index=respostas, inplace=True)
frequencia_cruzada.rename(columns={1:"Masculino", 2:"Feminino"}, inplace=True)
frequencia_cruzada

VB01001             Masculino   Feminino
VB11007
Muito Satisfeito    16.199565  11.633245
Satisfeito          21.079971  20.717565
Indiferente          5.738101   5.176371
Insatisfeito         4.747524   9.301764
Muito insatisfeito   1.570428   2.742208
NÃ£o informado        0.718773   0.374487

NormalizaÃ§Ã£o por coluna

In [ ]:
frequencia_cruzada = pd.crosstab(dados["VB11007"], dados["VB01001"], normalize= "columns") * 100
frequencia_cruzada.rename(index=respostas, inplace=True)
frequencia_cruzada.rename(columns={1:"Masculino", 2:"Feminino"}, inplace=True)
frequencia_cruzada

VB01001             Masculino   Feminino
VB11007
Muito Satisfeito    32.363944  23.291813
Satisfeito          42.114155  41.480227
Indiferente         11.463738  10.364010
Insatisfeito         9.484735  18.623776
Muito insatisfeito   3.137444   5.490386
NÃ£o informado        1.435984   0.749788

NormalizaÃ§Ã£o pelo index (pelas colunas)
 - Das pessoas que sÃ£o intastifeitas com seu corpo 33% sÃ£o do sexo masculino e 66% do sexo feminino.

In [ ]:
frequencia_cruzada = pd.crosstab(dados["VB11007"], dados["VB01001"], normalize= "index") * 100
frequencia_cruzada.rename(index=respostas, inplace=True)
frequencia_cruzada.rename(columns={1:"Masculino", 2:"Feminino"}, inplace=True)
frequencia_cruzada

VB01001             Masculino   Feminino
VB11007
Muito Satisfeito    58.203125  41.796875
Satisfeito          50.433526  49.566474
Indiferente         52.573326  47.426674
Insatisfeito        33.791917  66.208083
Muito insatisfeito  36.414566  63.585434
NÃ£o informado       65.745856  34.254144

## Desafio 2: Criar outros crosstabs e pesquisa/testar a funÃ§Ã£o [aggfunc](https://pandas.pydata.org/docs/reference/api/pandas.crosstab.html).

In [ ]:
frequencia_cruzada = pd.crosstab(dados["VB11007"], dados["classe_IMC"], normalize="columns") * 100
frequencia_cruzada.rename(index=respostas, inplace=True)
frequencia_cruzada.rename(columns={1:"Masculino", 2:"Feminino"}, inplace=True)
frequencia_cruzada

classe_IMC             Abaixo  ...  Obesidade (Grau II)
VB11007                        ...
Muito Satisfeito    35.839196  ...             5.825243
Satisfeito          41.226131  ...            26.213592
Indiferente          9.246231  ...            21.359223
Insatisfeito         9.085427  ...            30.097087
Muito insatisfeito   3.417085  ...            15.533981
NÃ£o informado        1.185930  ...             0.970874

[6 rows x 5 columns]

In [ ]:
frequencia_cruzada = pd.crosstab(dados["VB01001"], dados["classe_IMC"], normalize="index") * 100
frequencia_cruzada.rename(index={1:"Masculino", 2:"Feminino"}, inplace=True)
frequencia_cruzada

classe_IMC     Abaixo     Normal  ...  Obesidade (Grau I)  Obesidade (Grau II)
VB01001                           ...
Masculino   31.711450  54.611474  ...            2.965384             0.568870
Feminino    28.538536  56.665051  ...            2.944741             0.678623

[2 rows x 5 columns]

# Aula 4