<a href="https://colab.research.google.com/github/carollimaxp/data_science_alura/blob/main/DS_Bootcamp_M%C3%B3dulo_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 1

### Importando os dados

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
from zipfile import ZipFile

## Explorando os dados

### Lendo um ZIP

In [ ]:
path = "/content/drive/MyDrive/Data Scienc Bootcamp/PeNSE_2015_AMOSTRA2.zip"
zip = ZipFile(path)
zip

In [ ]:
zip.infolist()[0:4]

[<ZipInfo filename='arquivos csv/' external_attr=0x10>,
 <ZipInfo filename='arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV' compress_type=deflate external_attr=0x20 file_size=7262170 compress_size=1235667>,
 <ZipInfo filename='arquivos csv/PENSE_AMOSTRA2_ALUNOESCOLA.CSV' compress_type=deflate external_attr=0x20 file_size=11420533 compress_size=1329882>,
 <ZipInfo filename='arquivos csv/PENSE_AMOSTRA2_ESCOLA.CSV' compress_type=deflate external_attr=0x20 file_size=5000642 compress_size=114324>]

In [ ]:
zip.namelist()[0:4]

['arquivos csv/',
 'arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV',
 'arquivos csv/PENSE_AMOSTRA2_ALUNOESCOLA.CSV',
 'arquivos csv/PENSE_AMOSTRA2_ESCOLA.CSV']

In [ ]:
path_file = zip.namelist()[1]
dados = pd.read_csv(zip.open(path_file), sep=";")
dados.head()

   ANOPESQ  PAIS  REGEOGR  VB00004  VB01001  ...  V0008  V0041  aluno  escola  turma
0     2015    76        1        1        2  ...      4      1      1       1    296
1     2015    76        1        1        2  ...      4      1      2       1    296
2     2015    76        1        1        1  ...      4      1      3       1    296
3     2015    76        1        1        1  ...      4      1      4       1    296
4     2015    76        1        1        1  ...      4      1      5       1    296

[5 rows x 181 columns]

In [ ]:
dados.shape

(16556, 181)

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16556 entries, 0 to 16555
Columns: 181 entries, ANOPESQ to turma
dtypes: float64(7), int64(171), object(3)
memory usage: 22.9+ MB

In [ ]:
dados.select_dtypes(include="object")

      VB17003 VB17004        PESO
0        37,1     157  299,735235
1        50,2     152  355,170081
2        48,2   161,4  299,735235
3        69,4   172,5  355,170081
4        78,9   167,5  299,735235
...       ...     ...         ...
16551    56,7   167,9  447,815539
16552    61,9   185,8   592,50744
16553    60,9   159,4  401,131512
16554    47,3   157,8  442,718091
16555    62,6   163,9   592,50744

[16556 rows x 3 columns]

### Alterando a leitura dos dados (casa decimal e separador de milhares)

In [ ]:
dados = pd.read_csv(zip.open(path_file), sep=";", thousands=".", decimal=",")

In [ ]:
dados.select_dtypes(include="int64").head()

   ANOPESQ  PAIS  REGEOGR  VB00004  VB01001  ...  V0008  V0041  aluno  escola  turma
0     2015    76        1        1        2  ...      4      1      1       1    296
1     2015    76        1        1        2  ...      4      1      2       1    296
2     2015    76        1        1        1  ...      4      1      3       1    296
3     2015    76        1        1        1  ...      4      1      4       1    296
4     2015    76        1        1        1  ...      4      1      5       1    296

[5 rows x 171 columns]

In [ ]:
dados.select_dtypes(include="float64").head()

   TEMPODESLOC  TEMPOTOTAL  TEMPOEDFIS  ...  VB17003  VB17004        PESO
0          0.0        15.0         0.0  ...     37.1    157.0  299.735235
1        120.0       510.0       260.0  ...     50.2    152.0  355.170081
2          0.0       585.0       130.0  ...     48.2    161.4  299.735235
3          0.0         0.0         0.0  ...     69.4    172.5  355.170081
4         30.0       165.0        90.0  ...     78.9    167.5  299.735235

[5 rows x 10 columns]

## Desafios

### Desafio 1: Descompatar a pasta zipada usando outro mÃ©todo
- Dica: Usar comandos Bash

In [ ]:
!ls
!pwd

drive  sample_data
/content

In [ ]:
path = "/content/drive/MyDrive/Data\ \Scienc\ \Bootcamp/PeNSE_2015_AMOSTRA2.zip"
path_to_directory = "/content/drive/MyDrive/Data\ \Scienc\ \Bootcamp/Dados"

In [ ]:
!unzip -v

UnZip 6.00 of 20 April 2009, by Debian. Original by Info-ZIP.

Latest sources and executables are at ftp://ftp.info-zip.org/pub/infozip/ ;
see ftp://ftp.info-zip.org/pub/infozip/UnZip.html for other sites.

Compiled with gcc 7.5.0 for Unix (Linux ELF).

UnZip special compilation options:
        ACORN_FTYPE_NFS
        COPYRIGHT_CLEAN (PKZIP 0.9x unreducing method not supported)
        SET_DIR_ATTRIB
        SYMLINKS (symbolic links supported, if RTL and file system permit)
        TIMESTAMP
        UNIXBACKUP
        USE_EF_UT_TIME
        USE_UNSHRINK (PKZIP/Zip 1.x unshrinking method supported)
        USE_DEFLATE64 (PKZIP 4.x Deflate64(tm) supported)
        UNICODE_SUPPORT [wide-chars, char coding: UTF-8] (handle UTF-8 paths)
        LARGE_FILE_SUPPORT (large files over 2 GiB supported)
        ZIP64_SUPPORT (archives using Zip64 for large files supported)
        USE_BZIP2 (PKZIP 4.6+, using bzip2 lib version 1.0.6, 6-Sept-2010)
        VMS_TEXT_CONV
        WILD_STOP_AT_DIR
        [decryption, version 2.11 of 05 Jan 2007]

UnZip and ZipInfo environment options:
           UNZIP:  [none]
        UNZIPOPT:  [none]
         ZIPINFO:  [none]
      ZIPINFOOPT:  [none]

In [ ]:
!unzip $path -d $path_to_directory

Archive:  /content/drive/MyDrive/Data Scienc Bootcamp/PeNSE_2015_AMOSTRA2.zip
   creating: /content/drive/MyDrive/Data Scienc Bootcamp/Dados/arquivos csv/
  inflating: /content/drive/MyDrive/Data Scienc Bootcamp/Dados/arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV
  inflating: /content/drive/MyDrive/Data Scienc Bootcamp/Dados/arquivos csv/PENSE_AMOSTRA2_ALUNOESCOLA.CSV
  inflating: /content/drive/MyDrive/Data Scienc Bootcamp/Dados/arquivos csv/PENSE_AMOSTRA2_ESCOLA.CSV
   creating: /content/drive/MyDrive/Data Scienc Bootcamp/Dados/arquivos sas/
  inflating: /content/drive/MyDrive/Data Scienc Bootcamp/Dados/arquivos sas/pense_amostra2_aluno.sas7bdat
  inflating: /content/drive/MyDrive/Data Scienc Bootcamp/Dados/arquivos sas/pense_amostra2_alunoescola.sas7bdat
  inflating: /content/drive/MyDrive/Data Scienc Bootcamp/Dados/arquivos sas/pense_amostra2_escola.sas7bdat
   creating: /content/drive/MyDrive/Data Scienc Bootcamp/Dados/arquivos xlsx/
  inflating: /content/drive/MyDrive/Data Scienc Bootcamp/Dados/arquivos xlsx/PENSE_AMOSTRA2_ALUNO.xlsx
  inflating: /content/drive/MyDrive/Data Scienc Bootcamp/Dados/arquivos xlsx/PENSE_AMOSTRA2_ALUNOESCOLA.xlsx
  inflating: /content/drive/MyDrive/Data Scienc Bootcamp/Dados/arquivos xlsx/PENSE_AMOSTRA2_ESCOLA.xlsx
  inflating: /content/drive/MyDrive/Data Scienc Bootcamp/Dados/Dicionario_PENSE_Microdados_AMOSTRA2.xls

### Desafio 2 : Estudar sobre a base dados que vamos utilizar

In [ ]:
file = r'/content/drive/MyDrive/Data Scienc Bootcamp/Dados/Dicionario_PENSE_Microdados_AMOSTRA2.xls'
info_aluno = pd.read_excel(file, sheet_name='AMOSTRA2_ALUNO')
info_escola = pd.read_excel(file, sheet_name='AMOSTRA2_ESCOLA')
info_aluno.head()

  VARIÃVEL                QUESTIONÃRIO DO ALUNO
0  ANOPESQ  Ano em que a pesquisa foi realizada
1     PAIS                                 PaÃ­s
2       76                               Brasil
3  REGEOGR                    RegiÃ£o geogrÃ¡fica
4        1                                Norte

In [ ]:
info_escola.head()

  VARIÃVEL               QUESTIONÃRIO DA ESCOLA
0  ANOPESQ  Ano em que a pesquisa foi realizada
1     PAIS                                 PaÃ­s
2       76                               Brasil
3  REGEOGR                    RegiÃ£o geogrÃ¡fica
4        1                                Norte

### Desafio 3: Classificar algumas perguntas em

1.   Qualitativa (Ordinal e Nominal)
2.   Quantitativa (Continua e Discreta)

####**Qualitativa**

Nominal

- REGEOGR: RegiÃ£o geogrÃ¡fica
- VB01025: Qual o grau de escolaridade mais elevado que vocÃª pretendo concluir?
- VB01006: VocÃª mora com sua mÃ£e?
- VB01020A: Tem empregado(a) domÃ©stico(a) recebendo dinheiro para fazer o trabalho em sua casa, trÃªs ou mais dias por semana?

Ordinal

- VB01004: Qual Ã© o mÃªs do seu aniversÃ¡rio?
- VB02019A: VocÃª costuma tomar o cafÃ© da manhÃ£?
- VB02018A: VocÃª costuma comer quando estÃ¡ assistindo Ã  TV ou estudando?

#### **Quantitativa**

Continua

- VB17003: Peso do estudante, incluindo os imputados, com uma casa decimal 
- VB17004: Altura do estudante, incluindo os imputados, com uma casa decimal
- VB17002: Qual Ã© a altura do(a) aluno(a)?

Discreta

- VB02001: NOS ÃLTIMOS 7 DIAS, em quantos dias vocÃª comeu feijÃ£o?
- VB04002: Que idade vocÃª tinha quando experimentou fumar cigarro pela primeira vez?